@model ChatDemo.Data.Chat


@if (Model.CurrentConversation != null)
{
    // Verifica se o contato está salvo.
    ChatDemo.Data.Contacts? contact = Model.Contacts?.FirstOrDefault(c => c.ContactNumberId == Model.CurrentConversation.ContactNumberId);

    <div class="chat-header">
        <div class="avatar"></div>
        <div>
            <div>@(contact?.Alias ?? Model.CurrentConversation.ContactNumberId)</div>
            <div id="typing-chatArea-@Model.CurrentConversation.ContactNumberId" style="font-size: 12px; color: gray; margin-top: 2px;"></div>
        </div>
    </div>

    <div class="chat-messages" id="chatMessages">
        @if (Model.Messages != null && Model.Messages.Any())
        {
            foreach (var message in Model.Messages)
            {
                if (message.SenderNumberId == Model.User.NumberId)
                {
                    <div class="message sent">
                        @message.Text
                        <div class="message-hour">
                            @message.Datetime.ToString("HH:mm")
                            <div id="statusMessage-@message.WebId" class="status-message @(message.Status == ChatDemo.Data.Message.StatusMessage.Read ? "read" : "") "></div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="message received">
                        @message.Text
                        <div class="message-hour">@message.Datetime.ToString("HH:mm")</div>
                    </div>
                }
            }
        }
    </div>

    <div class="chat-input">
        <textarea id="chatInput" placeholder="Digite uma mensagem..."></textarea>
        <button id="btnSendMessage">Enviar</button>
    </div>
}
