@model ChatDemo.Data.Chat


<div class="conversations-content">
    @* Exibe os contatos sem conversa *@
    @if (Model.Contacts != null && Model.Contacts.Any())
    {
        foreach (var contato in Model.Contacts)
        {
            var idConversation = ChatDemo.Business.Helper.GerarConversationId(contato.OwnerNumberId, contato.ContactNumberId);

            ChatDemo.Data.Conversation? conversation = Model.Conversations?.FirstOrDefault(p => p.Id == idConversation);

            <div class="conversation-item" onclick="SelectConversation('@contato.ContactNumberId', '@contato.OwnerNumberId')">
                <div class="avatar"></div>

                <div style="display: flex; flex-direction: column;">
                    <div class="conversation-text">@(contato?.Alias ?? contato.ContactNumberId)</div>
                    <div id="typing-indicator-@contato.ContactNumberId" class="typing-indicator"></div>
                    @if (conversation?.LastMessage?.SenderNumberId == Model?.User?.NumberId)
                    {
                        <div id="last-message-@contato.ContactNumberId" class="last-message">Você: @((conversation?.LastMessage?.Text?.Length > 15 ? conversation.LastMessage.Text?.Substring(0, 15) + "..." : conversation?.LastMessage?.Text) ?? "")</div>
                    }
                    else
                    {
                        <div id="last-message-@contato.ContactNumberId" class="last-message">@((conversation?.LastMessage?.Text?.Length > 20 ? conversation.LastMessage.Text?.Substring(0, 20) + "..." : conversation?.LastMessage?.Text) ?? "")</div>
                    }
                </div>

                <div style="margin-left: auto">
                    <div id="message-hour-@contato.ContactNumberId" class="message-hour-contact">@(conversation?.LastMessage?.Datetime != null ? conversation.LastMessage.Datetime.ToLocalTime().ToString("HH:mm") : "")</div>

                    @if (contato.UnreadMessages > 0)
                    {
                        <div id="unread-message-@contato.ContactNumberId" style="display: @(contato.UnreadMessages > 0 ? "flex" : "none");" class="unread-message">
                            @contato.UnreadMessages
                        </div>
                    }
                </div>
            </div>
        }
    }

</div>
