@model ChatDemo.Data.Chat


<div class="conversations-content">
    @if (Model.Contacts != null && Model.Contacts.Any())
    {
        foreach (var user in Model.Contacts)
        {
            <div class="conversation-item" onclick="selecionarContato('@user.WebId', '@user.MyNumberId')">
                <div class="avatar"></div>

                <div style="display: flex; flex-direction: column;">
                    <div class="conversation-text">@(user.Name ?? user.NumberId)</div>
                    <div id="typing-indicator-@user.WebId" class="typing-indicator"></div>
                    <div id="last-message-@user.WebId" class="last-message">@((user.LastMessage?.Text?.Length > 24 ? user.LastMessage.Text?.Substring(0, 20) + "..." : user.LastMessage?.Text) ?? "")</div>
                </div>

                <div style="margin-left: auto">
                    <div id="message-hour-@user.WebId" class="message-hour-contact">@(user.LastMessageDate.HasValue ? user.LastMessageDate.Value.ToString("HH:mm") : "")</div>
                    <div id="unread-message-@user.WebId" style="display: flex;" class="unread-message">3</div>
                </div>
            </div>

        }
    }
</div>
