@model ChatDemo.Data.Chat
@{
    ViewData["Title"] = "Conversa";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/Chat/Layout.css" />
    <link rel="stylesheet" href="~/css/Chat/ContactsList.css" />
    <link rel="stylesheet" href="~/css/Chat/ChatArea.css" />
    <link rel="stylesheet" href="~/css/Chat/ScrollBar.css" />
</head>

<div class="main-container">
    <div class="conversations-list">
        <div class="conversations-header">
            <div>Conversas</div>
            <button id="addButton" class="add-button">+</button>
        </div>

        <div class="conversas">
            <!-- Carrega a lista de contatos -->
            @await Html.PartialAsync("_ContactsList", Model)
        </div>

        <div class="card">
            <div class="avatar"></div>
            <div class="info">
                <div class="person">@Model.UserLogged.Name.Split(" ").First()</div>
                <div class="number-id">NID: @Model.UserLogged.NumberId</div>
            </div>

            <div class="menu-dropdown" id="dropdownMenu">
                <button id="btnLogout" class="menu-item">Logout</button>
            </div>
            <button id="btnMenuCard" class="list-menu"> &#8942;</button>
        </div>
    </div>

    <div class="chat-container">
        <!-- Carrega área do chat -->
        @await Html.PartialAsync("_ChatArea", Model)
    </div>


</div>

<!-- Modal de Adicionar Usuário -->
<div id="addUserModal" class="modal-overlay" style="display: none;">
    <div class="modal custom-modal">
        <h2 class="modal-title">Adicionar Usuário</h2>

        <form asp-action="AddUser" asp-controller="Chat" autocomplete="off" method="post" class="modal-form">
            @if (ViewBag.Error != null)
            {
                <div class="modal-alert">@ViewBag.Error</div>
            }
            <label for="Name">Nome:</label>
            <input type="text" name="Name" class="modal-input" />

            <label for="NumberId">Número ID:</label>
            <input id="AddNumberId" maxlength="10" type="text" name="NumberId" class="modal-input" required />
            <input type="text" name="MyNumberId" value="@Model.UserLogged.NumberId" style="display: none;" class="modal-input" required />

            <div class="modal-actions">
                <button type="submit" class="modal-save">Salvar</button>
                <button type="button" class="modal-cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<script defer src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script defer src="~/js/Chat/js/signalr-connection.js"></script>
<script defer src="~/js/Chat/js/ajax-functions.js"></script>

<script defer>
    const contacts = @Html.Raw(Json.Serialize(Model.Contacts));
    let from = @Html.Raw(Json.Serialize(Model.UserLogged.WebId));

    let openModal = @(ViewBag.OpenModal == true ? "true" : "false");
    if (openModal){
        OpenModal(openModal);
    }
</script>
<script defer src="~/js/Chat/js/signalr-events.js"></script>
<script defer src="~/js/Chat/js/chat-main.js"></script>